@model  IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Edit Events";
}

<h2>Edit Events</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            @using (Html.BeginForm("ViewAll", "SportEvent", FormMethod.Get))
            {
                <button type="submit">Preview Mode</button>
            }
        </div>
    </div>
    <div class="row"></div>
    <div class="row event-heading border text-center">
        <div class="col-xs-1 border border-dark">
            EventId
        </div>
        <div class="col-xs-2 border border-dark">
            EventName
        </div>
        <div class="col-xs-2 border">
            OddsForFirstTeam
        </div>
        <div class="col-xs-1 border text-center">
            OddsForDraw
        </div>
        <div class="col-xs-2 border">
            OddsForSecondTeam
        </div>
        <div class="col-xs-2 border">
            EventStartDate
        </div>
    </div>
    @foreach (var sportEvent in Model)
    {
        <div class="row text-center border">
            @using (Html.BeginForm("Edit", "SportEvent", FormMethod.Post))
            {
                @Html.Partial("_EditEvent", sportEvent)
            }
        </div>
    }
    @using (Html.BeginForm("Edit", "SportEvent", FormMethod.Post))
    {
        @Html.Partial("_AddEvent", new EventViewModel())
    }
    <br/>
    <div class="row">
        <div>
            <button type="button" onclick="makeVisible()">Add New</button>
        </div>
    </div>


</div>

<script>
    function makeVisible() {
        $(".invisible").css("visibility", "visible");
    }
</script>

