@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Edit Events";
}

<h2>Edit Events</h2>
@Html.ValidationSummary()
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            @using (Html.BeginForm("ViewAll", "SportEvent", FormMethod.Get))
            {
                <button type="submit">Preview Mode</button>
            }
        </div>
    </div>
    <div class="row"></div>
    <div class="row event-heading text-center">
        <div class="col-lg-1">
            EventId
        </div>
        <div class="col-lg-2">
            EventName
        </div>
        <div class="col-lg-2">
            OddsForFirstTeam
        </div>
        <div class="col-lg-1 text-center">
            OddsForDraw
        </div>
        <div class="col-lg-2">
            OddsForSecondTeam
        </div>
        <div class="col-lg-2">
            EventStartDate
        </div>
        <div class="col-lg-2">.</div>
    </div>
    @foreach (var sportEvent in Model)
    {
        Html.RenderPartial("_EditEvent", sportEvent);
    }

    @{
        Html.RenderPartial("_AddEvent", new EventViewModel());
    }
    <div class="row nevervisible">
        SPACE
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" onclick="makeVisible()">Add New</button>
        </div>
        <div class="col-lg-10"></div>
    </div>


</div>

<script>
    function makeVisible() {
        $(".invisible").css("visibility", "visible");
    }
</script>

